<div class="wrapper">
    <h1>Aviso de Privacidad</h1>

<h2>Fecha de última actualización: 26 Julio 2023</h2>

<span> Gracias por utilizar nuestro sitio web, dedicado a la gestión personalizada de listas de compras. Nuestra plataforma se ha creado con el propósito de proporcionarte una experiencia segura y eficiente para administrar tus compras y mantener tus datos personales protegidos. A continuación, te presentamos nuestro Aviso de Privacidad, donde explicamos cómo recopilamos, utilizamos y protegemos tu información.</span>

<p>Información recopilada:</p>
Cuando utilizas nuestra página web, recopilamos cierta información para mejorar la experiencia del usuario y garantizar la funcionalidad adecuada de la aplicación. Los datos que obtenemos son los siguientes:
<ol>
    <li> <strong>Información personal:</strong> Para utilizar nuestro servicio, no requerimos que nos proporciones información personal identificable como nombre completo, dirección, número de teléfono, o correo electrónico. No almacenamos ningún dato personal tuyo.</li>
    <li> <strong>Datos de Google Sheets:</strong> Nuestra aplicación utiliza OAuth para autenticarse en tu cuenta de Google y obtener acceso a la API de Google Sheets. Sin embargo, no almacenamos ni conservamos ninguna información contenida en tus hojas de cálculo de Google Sheets. Solamente utilizamos esta autorización para leer y escribir en la hoja de cálculo específica que tú seleccionas para la gestión de tus listas de compras.</li>
</ol>

<p>Uso de la información:</p>
La información recopilada se utiliza únicamente con el propósito de mejorar y optimizar nuestros servicios. Nunca compartiremos, venderemos, o divulgaremos tu información personal con terceros, ya que no almacenamos dicha información.

<p>Seguridad:</p>
Nos comprometemos a garantizar la seguridad de tu información. Utilizamos medidas de seguridad razonables para proteger los datos recopilados, evitando así el acceso no autorizado, el uso indebido, la divulgación o la alteración de la información.

<p>Enlaces a sitios web externos:</p>
Nuestro sitio web podría contener enlaces a sitios web de terceros. Ten en cuenta que no somos responsables de las prácticas de privacidad o del contenido de dichos sitios. Te recomendamos revisar las políticas de privacidad de estos terceros antes de proporcionarles cualquier información.

<p>Cambios al Aviso de Privacidad:</p>
Nos reservamos el derecho de modificar o actualizar este Aviso de Privacidad en cualquier momento, en respuesta a cambios legislativos, actualizaciones de la plataforma o mejoras en nuestro servicio. Cualquier cambio relevante será notificado mediante un aviso destacado en nuestro sitio web.

<p>Contacto:</p>
Si tienes alguna pregunta o inquietud sobre este Aviso de Privacidad o sobre el manejo de tus datos, por favor, contáctanos a través del siguiente correo electrónico: frxncismor@gmail.com

Al utilizar nuestro sitio web, estás aceptando los términos establecidos en este Aviso de Privacidad. Gracias por confiar en nosotros para la gestión de tus listas de compras.
</div>